---
import "../styles/reset.css";
import "../styles/base.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Frontend Case Studies" />

    <title>Frontend Case Studies</title>
    <meta
      name="description"
      content="A curated list of technical talks and articles about real world enterprise frontend development"
    />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Frontend Case Studies" />
    <meta property="og:url" content="https://frontendcs.com" />
    <meta property="og:image" content="/social.png" />
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    background-color: #f6f8fa;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  main {
    border-top: none;
    border-bottom: none;
    max-width: 60rem;
    margin: auto;
    padding: 1rem 1.5rem;
    padding-bottom: 3rem;
  }

  @media (min-width: 66rem) {
    main {
      padding-inline: 3rem;
    }
  }
</style>
