:root {
  --color-bg: #f9f7ee;
  --color-border: #e1e4e8;
  --color-muted: #59636e;

  --back-to-top-height: 3.5rem;

  font-family: system-ui, sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
  background-color: var(--color-bg);
  margin: 0;
  width: 100%;
  height: 100%;
}

a:not([class="raw"]) {
  color: #0969da;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: from-font;
}

a:not([href^="#"]):not([class="raw"]):not([class="novisited"]):visited {
  color: purple;
}

:is(a, a:visited):not([class="raw"]):is(:hover, :focus-visible) {
  color: #cd192e;
}

a[href^="#"] {
  text-decoration-style: dotted;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: calc(var(--back-to-top-height) + 1.5rem);
}

@media (prefers-reduced-motion) {
  :root {
    scroll-behavior: initial;
  }
}
