:root {
  --color-bg: #f6f8fa;
  --color-border: #e1e4e8;

  font-family: system-ui, sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
  background-color: var(--color-bg);
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  color: #0969da;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: from-font;
}

a:not([href^="#"]):visited {
  color: purple;
}

:is(a, a:visited):is(:hover, :focus-visible) {
  color: #cd192e;
}

a[href^="#"] {
  text-decoration-style: dotted;
}

@media (prefers-reduced-motion) {
  :root {
    scroll-behavior: initial;
  }
}
