---
interface Props {
  caseStudiesCount: number;
  companiesCount: number;
  yearsRange: [number, number];
}
const { caseStudiesCount, companiesCount, yearsRange } = Astro.props;
---

<dl>
  <div>
    <dt>Companies</dt>
    <dd>{companiesCount}</dd>
  </div>
  <div>
    <dt>Case Studies</dt>
    <dd>{caseStudiesCount}</dd>
  </div>
  <div>
    <dt>Period Covered</dt>
    <dd>{yearsRange[0]}–{yearsRange[1]}</dd>
  </div>
</dl>

<style>
  dl {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    margin-block: 1rem 2rem;
  }

  div {
    display: inline-flex;
    flex-direction: column-reverse;
    margin-inline-end: 2rem;
  }

  dt {
    font-size: 1.25rem;
    color: var(--color-muted);
  }

  dd {
    line-height: 1;
    font-weight: bold;
    font-size: 2.5rem;
  }
</style>
