<footer>
  Made by <a href="https://andreyromanov.com">Andrey Romanov</a> and <a
    href="https://github.com/andrew--r/frontend-case-studies/graphs/contributors"
    >contributors</a
  > • <a href="https://github.com/andrew--r/frontend-case-studies">GitHub</a>
</footer>

<style>
  footer {
    padding-block-start: 1rem;
    margin-block: 3rem 2rem;
    border-top: thin solid var(--color-border);
  }
</style>
