<footer>
  Made by <a href="https://andreyromanov.com">Andrey Romanov</a> and <a
    href="https://github.com/andrew--r/frontend-case-studies/graphs/contributors"
    >contributors</a
  > • <a href="https://github.com/andrew--r/frontend-case-studies">Star</a> or <a
    href="https://github.com/andrew--r/frontend-case-studies/issues/new"
    >add a case study</a
  > on GitHub
</footer>

<style>
  footer {
    border-top: thin solid var(--color-border);
    margin-block-start: 3rem;
    padding-block: 0.75rem 1rem;
  }
</style>
