---
import RssLink from "./RssLink.astro";
---

<header>
  <h1 id="top">
    Frontend Case Studies <RssLink href="/rss.xml" />
  </h1>

  <p>
    Go beyond basic tutorials. Explore real-world frontend challenges and learn
    industry best practices.
  </p>
</header>

<style>
  header {
    padding-block: 1rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  p {
    margin-block-start: 1rem;
    font-size: 1.5rem;
  }
</style>
