---
import type { CollectionEntry } from "astro:content";

interface Props {
  items: CollectionEntry<"companies">[];
}

const { items } = Astro.props;
---

<nav>
  <ul>
    {
      items.map((item) => (
        <li>
          <a href={`#${item.id}`}>{item.data.name}</a>
        </li>
      ))
    }
  </ul>
</nav>

<a href="#top" class="top">↑ Back to Top</a>

<style>
  nav li {
    display: inline-block;
    margin-inline-end: 1.25rem;
  }

  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .top {
    display: block;
    text-align: center;
    padding: 1rem;
    position: sticky;
    z-index: 1;
    border-block-end: thin solid var(--color-border);
    top: 0;
    background: var(--color-bg);
  }

  @media (prefers-reduced-motion: no-preference) {
    nav {
      animation: fadeout linear;
      animation-timeline: view();
      animation-range: exit 75% exit 100%;
    }

    .top {
      animation: fadein linear both;
      animation-timeline: view();
      animation-range: entry 120cqh entry 125cqh;
    }
  }
</style>
